body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

img{
  width: 200px;
  height: 200px;
  background: black;
  margin-left: 18vw;
  margin-top: 3vh;
}

p{
  margin-left: 5vw;
  font-size: 15px;
}

button{
  margin-left: 40vw;
}

h1{
  text-align: center;
}

.slider{
  width: 53%;
  height: 2px;
  background: #111;
  -webkit-appearance: none;
  outline: none;
  border-radius: 2px;
  margin-left: 5vw;
}

.slider::-webkit-slider-thumb{
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #00bcd4;
}

#rangeValue{
  color: rgb(253, 253, 253);
  position: absolute;
  top: 72.8vh;
  right: 20%;
  padding: 2px;
  width: 50px;
  box-sizing: border-box;
  background: #222;
  text-align: center;
}

#rangeValue::before{
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  left: -5px;
  width: 10px;
  height: 10px;
  background: #222;
}

.slider1{
  width: 53%;
  height: 2px;
  background: #111;
  -webkit-appearance: none;
  outline: none;
  border-radius: 2px;
  margin-left: 5vw;
}

.slider1::-webkit-slider-thumb{
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #00bcd4;
}

#rangeValue1{
  color: rgb(253, 253, 253);
  position: absolute;
  top: 90vh;
  right: 20%;
  padding: 2px;
  width: 50px;
  box-sizing: border-box;
  background: #222;
  text-align: center;
}

#rangeValue1::before{
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  left: -5px;
  width: 10px;
  height: 10px;
  background: #222;
}

.slider2{
  width: 53%;
  height: 2px;
  background: #111;
  -webkit-appearance: none;
  outline: none;
  border-radius: 2px;
  margin-left: 5vw;
}

.slider2::-webkit-slider-thumb{
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #00bcd4;
}

#rangeValue2{
  color: rgb(253, 253, 253);
  position: absolute;
  top: 181px;
  right: 20%;
  padding: 2px;
  width: 50px;
  box-sizing: border-box;
  background: #222;
  text-align: center;
}

#rangeValue2::before{
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  left: -5px;
  width: 10px;
  height: 10px;
  background: #222;
}

.slider3{
  width: 53%;
  height: 2px;
  background: #111;
  -webkit-appearance: none;
  outline: none;
  border-radius: 2px;
  margin-left: 5vw;
}

.slider3::-webkit-slider-thumb{
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #00bcd4;
}

#rangeValue3{
  color: rgb(253, 253, 253);
  position: absolute;
  top: 218px;
  right: 20%;
  padding: 2px;
  width: 50px;
  box-sizing: border-box;
  background: #222;
  text-align: center;
}

#rangeValue3::before{
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  left: -5px;
  width: 10px;
  height: 10px;
  background: #222;
}