body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(180deg,grey 50%,white);
  background-size: cover;
  background-repeat: no-repeat;
}

img{
  width: 300px;
  height: 200px;
  background: black;
  margin-left: 3vw;
  margin-top: 3vh;
  transition: 0.5s;
  position: relative;
}

img::before{
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: gray;
  z-index: -1;
}

img::after{
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: gray;
  z-index: -2;
  filter: blur(20px);
}

img::before,
img::after{
  background: linear-gradient(235deg,#89ff00,white,#00bcd4);
}

p{
  color: #d6d6d6;
  margin-left: 5vw;
  font-size: 15px;
  text-shadow: 5px 6px 10px rgba(0, 0, 0, 0.75),
              -3px 6px 12px rgba(0, 0, 0, 0.75);
}

.filter button{
  margin-left: 39vw;
  background: linear-gradient(250deg,rgb(0, 28, 117) 50%,rgb(0, 39, 163) 50%);
  border: none;
  width: 25%;
  height: 4vh;
  text-align: center;
  color: lightgray;
  border-radius: 18px;
  box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.75);
}

.box h1{
  position: relative;
  text-align: center;
  font-size: 2em;
  text-shadow: 5px 10px 10px rgba(0, 0, 0, 0.75),
              -3px 10px 12px rgba(0, 0, 0, 0.75);
}

.box h1:before,
.box h1:after {
  content: "";
  width: 20%;
  height: 1px;
  background: #555;
  position: absolute;
  top: 50%;
}
.box h1:before {
  left: 0;
}
.box h1:after {
  right: 0;
}

.slider{
  width: 53%;
  height: 2px;
  background: #111;
  -webkit-appearance: none;
  outline: none;
  border-radius: 2px;
  margin-left: 5vw;
  cursor: pointer;
  box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.75);
}

.slider::-webkit-slider-thumb{
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #00bcd4;
  box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.75);
}

#rangeValue{
  color: rgb(253, 253, 253);
  position: absolute;
  top: 72.8vh;
  right: 20%;
  padding: 2px;
  width: 50px;
  box-sizing: border-box;
  background: #222;
  text-align: center;
  box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.75);
}

#rangeValue::before{
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  left: -5px;
  width: 10px;
  height: 10px;
  background: #222;
}

.slider1{
  width: 53%;
  height: 2px;
  background: #111;
  -webkit-appearance: none;
  outline: none;
  border-radius: 2px;
  margin-left: 5vw;
  box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.75);
}

.slider1::-webkit-slider-thumb{
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #00bcd4;
  box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.75);
}

#rangeValue1{
  color: rgb(253, 253, 253);
  position: absolute;
  top: 89.9vh;
  right: 20%;
  padding: 2px;
  width: 50px;
  box-sizing: border-box;
  background: #222;
  text-align: center;
  box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.75);
}

#rangeValue1::before{
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  left: -5px;
  width: 10px;
  height: 10px;
  background: #222;
}

.slider2{
  width: 53%;
  height: 2px;
  background: #111;
  -webkit-appearance: none;
  outline: none;
  border-radius: 2px;
  margin-left: 5vw;
  box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.75);
}

.slider2::-webkit-slider-thumb{
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #00bcd4;
  box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.75);
}

#rangeValue2{
  color: rgb(253, 253, 253);
  position: absolute;
  top: 106.8vh;
  right: 20%;
  padding: 2px;
  width: 50px;
  box-sizing: border-box;
  background: #222;
  text-align: center;
  box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.75);
}

#rangeValue2::before{
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  left: -5px;
  width: 10px;
  height: 10px;
  background: #222;
}

.slider3{
  width: 53%;
  height: 2px;
  background: #111;
  -webkit-appearance: none;
  outline: none;
  border-radius: 2px;
  margin-left: 5vw;
  box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.75);
}

.slider3::-webkit-slider-thumb{
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #00bcd4;
  box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.75);
}

#rangeValue3{
  color: rgb(253, 253, 253);
  position: absolute;
  top: 123.7vh;
  right: 20%;
  padding: 2px;
  width: 50px;
  box-sizing: border-box;
  background: #222;
  text-align: center;
  box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.75);
}

#rangeValue3::before{
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  left: -5px;
  width: 10px;
  height: 10px;
  background: #222;
}